

/*               FONTS               */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



/*          GLOBAL STYLES          */

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --bg-color: #232425;
  --font-color: #ffffff;
  --btn-bg-color: #00badb;
  --accent-color: #000000;
  --header-shadow: rgb(44,184,219) 0px 0px 5px;
  --logo: #ff640a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}



/*             NAVIGATION             */

.navbar {
  background: #000000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: var(--header-shadow);
}
.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 999;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}
#navbar__logo{
background-color:#232425 ;
text-shadow: 2px 2px 0 var(--logo);
/*background-image: linear-gradient(to top, #00badb 0%,#ff1e00
100%);*/
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.fa-gem{
  margin-right:0.5rem;
}

.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item{
  height: 60px;
}

.navbar__links{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-top: .5rem;
  padding-bottom: 1rem;
  height: 100%;
}

.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  /*text-decoration: none;*/
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border:none ;
  outline: none;
  border-radius: 4px;
  background: #00badb;
  color: #ffffff;
}
.button:hover{
  background: #005b6b;
  transition: all 0.3s ease;
}
.navbar__links:hover{
  color:#00badb;
  transition: all 0.3s ease;
}


/*          NAV MEDIA          */

@media screen and (max-width:1200px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index:1;
  
 
    padding: 0 ;
  }
.navbar__menu{
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -100px;
  opacity: 0;
  transition: all 0.5s ease;
  height: 50vh;
  z-index: -1;
}
.navbar__menu.active{
  background: #000000 ;
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height:500px;
  font-size: 1.6rem;
  box-shadow: var(--header-shadow);
}
#navbar__logo{
  padding-left: 25px;
}
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.navbar__item{
  width: 100%;
}

.navbar__links{
  text-align: center;
  width: 100%;
  display: table;
}
#mobile-menu{
  position: absolute; 
  top: 20%;
  right: 5%;
  transform: translate(5%,20%);
}
/*.navbar__btn{
  padding-bottom: 2rem;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0;
}*/
.navbar__toggle .bar{
  display: block;
  cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
.navbar__socials{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap: 2rem;
  
}
}


/*         HEADER         */

/*header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
*/



/*               BODY               */

body {
  background-color: var(--bg-color);
  display:flex;
  flex-flow: column;
  color: var(--font-color);
  font-family: var(--font-primary);
  position: relative;
  padding-bottom: 80px;
  min-height: 100vh;
}
.body__slogan {
  font-size: 1.25rem;
  font-family: var(--font-secondary);
  text-align: center;

}

.container {
  display: flex;
  flex-direction: column;
  max-width:1300px ;
 
  padding-left: 1rem ;
  padding-top: .8rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.sneak__peeks{
  justify-content: center;
  align-items: center;
  text-align: center;
  
  padding: 5px;
  max-width:1200px ;
}
.sneak__peeks img{
  width:40% ;
  height: auto;
  padding: .5rem;
}
.founder {
  justify-content: center;
  align-items: center;
  text-align: center;
  
  margin: auto;
  
  max-width:600px ;
 
}
.founder img {
  width:80% ;
  height: auto;
  padding: .5rem;
}
.founder__name {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

/*        BUTTONS       */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: 4px 4px 0 0 var(--logo);
}

/*.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}*/

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}



/*       COUNTDOWN SECTION      */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.color {
    /*background: linear-gradient( #00badb 50%,#000000
    100%) ;*/
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  display: flex;
  align-items: center;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--logo);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.35rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}




/*          OWNER STYLES         */

.owner-status {
  font-size: 2rem;
  text-align: center;
}



/*        BODY MEDIA        */

@media screen and (max-width: 820px) {
  .menu {
    
    width: 100%;
  }
  /*.wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }*/
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
/* Traits */
.layers {
  
 margin: auto;
}

.traits__head {
  text-align: center;
  padding-bottom: 1.5rem;
 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
}
.traits__container {
  max-width: 1200px;
  
  overflow: auto;
  padding-left: 1rem;
  
  padding-bottom: 2rem;
}
.traits__container h1 {
  margin: 10px;
 
  
}
.traits {
  text-align:left;
  padding-bottom: .6rem;
text-decoration: underline;
font-size: 1.6rem;

}

.traits__images {
 
  justify-content: center;
  align-items: center;
  text-align: center;
  
  margin: 5px;
  padding: 5px;
background-color: #000000;
  border: 5px solid #00badb;
  height: 200px;
  float: left;
  
  width:100px;
}
 
.traits__images img {
  
  width: 100%;
  height: auto;
}
/*         TRAITS MEDIA         */

@media screen and (max-width: 820px) {
  .traits__head {
    font-size: 2rem;
   
  }
  

  .traits {
  font-size: 1.3rem;
  
  }
  
  .traits__images {
   
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin: 5px;
    padding: 5px;
  background-color: #000000;
    border: 5px solid #00badb;
    height: 200px;
    float: left;
    
    width:100px;
  }
   
  .traits__images img {
    
    width: 100%;
    height: auto;
  }
}

/*      ROADMAP     */

.roadmap__heading {
  justify-content: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 3rem;
}
.roadmap__p {
  justify-content: center;
  text-align: center;
  max-width: 50rem;
  font-size: 1.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.roadmap__line {
 
  margin: 1.5rem auto;
  width: 4px;
  height: 80px;
  background-color: #ff640a;
}


/*         Roadmap MEDIA         */

@media screen and (max-width: 820px) {
  .roadmap__p {
    font-size: 1.2rem;
  }
  .roadmap__line {
 
    margin: 1.2rem auto;
    width: 2px;
    height: 40px;
    
  }
  .roadmap__heading {
    font-size: 2rem;
    
  }
}


/* FAQ */
.faqs__container{
  max-width: 700px ;
  margin: 0 auto;
}
.faq__head {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;

padding-bottom: 2rem ;
padding-top: 1.4rem;
}
.faqs__container .questions__container{

  margin-bottom: 2rem;
}
.faqs__container .content__container{
  box-shadow: 0 4px 8px -3px #00badb;
 
}
.faqs__container h3{
  padding: 4px 32px;
 
}
.faqs__container .faq__header{
  display: flex;
  background-color: #000000;
  color: #ffffff;
  
  align-items: center;
  position: relative;
  cursor: pointer;
}
 
.faqs__container .faq__header .open,
.faqs__container .faq__header .close {
  position: absolute;
  right: 0;
  padding: 0 32px;
  font-size: 22px;
  font-weight: bold;
  transform: translateY(-8px);
  opacity: 0;
  transition: all 500ms;
}

.faqs__container .faq__header .open.active,
.faqs__container .faq__header .close.active {
opacity: 1;
transform: translateY(0);
}

.faqs__container .faq__header h3 {
 font-size: 20px;
 padding: 20px 32px;
 
}
.faqs__container .content  {
  padding: 0 32px;
  background: #ffffff;
  color: #000000;
  line-height: 2;
  font-size: 1.2rem;
max-height: 0;
overflow: hidden;
transition: 500ms;
 }
 .faqs__container .content.active {
  max-height:600px ;
 }



/*      FOOTER     */
footer {
  background: #000000;
  font-size: 1.2rem;
  box-shadow: var(--header-shadow);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0  auto;

 }


.footer__tandc {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.2rem;
  display: flex;
  color: #ffffff;

}

/*         FOOTER MEDIA         */

@media screen and (max-width: 820px) {
  .footer__tandc {
    font-size: 0.8rem;
  }

}




/*         T&C HTML         */

.TandC__layout{
  display: flex;
  flex-direction: column;
  max-width:1000px ;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  margin:  auto;
}
.TandC__layout h1{
  text-align: center;
  text-decoration: underline;
}
.tandc__email{
color: #00badb;
}


.TandC__Subheadings{
  text-decoration: underline;
  padding-bottom: 1rem;
  padding-top: 3rem;
}
@media screen and (max-width: 820px) {
  .TandC__layout {
    font-size: 1rem;
  }

}