/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --bg-color: #232425;
  --font-color: #ffffff;
  --btn-bg-color: #00badb;
  --accent-color: #000000;
  --header-shadow: rgb(44,184,219) 0px 0px 5px;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background: #000000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: var(--header-shadow);
}
.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 999;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar__logo{
background-color:#232425 ;
background-image: linear-gradient(to top, #00badb 0%,#ff1e00
100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.fa-gem{
  margin-right:0.5rem;
}

.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item{
  height: 80px;
}

.navbar__links{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  /*text-decoration: none;*/
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border:none ;
  outline: none;
  border-radius: 4px;
  background: #00badb;
  color: #ffffff;
}
.button:hover{
  background: #005b6b;
  transition: all 0.3s ease;
}
.navbar__links:hover{
  color:#00badb;
  transition: all 0.3s ease;
}



@media screen and (max-width:800px) {
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index:1;
    width: 100%;
    max-width: 1300px;
    padding: 0 ;
  }
.navbar__menu{
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -1000px;
  opacity: 0;
  transition: all 0.5s ease;
  height: 50vh;
  z-index: -1;
}
.navbar__menu.active{
  background: #000000 ;
  top: 100%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 50vh;
  font-size: 1.6rem;
  box-shadow: var(--header-shadow);
}
#navbar__logo{
  padding-left: 25px;
}
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.navbar__item{
  width: 100%;
}

.navbar__links{
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}
#mobile-menu{
  position: absolute; 
  top: 20%;
  right: 5%;
  transform: translate(5%,20%);
}
.navbar__btn{
  padding-bottom: 2rem;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0;
}
.navbar__toggle .bar{
  display: block;
  cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
.navbar__socials{
  display: flex;
  justify-content: center;
  gap: 2rem;
  
}
}
























body {
  background-color: var(--bg-color);
  display:flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 0 auto;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}


/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: 4px 4px 0 0 var(--font-color);
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  background-image: linear-gradient(to top, #00badb 0%,#ff1e00
100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 /*footer*/
footer {
  box-shadow: var(--header-shadow);
  flex-direction: row;
  
}
 footer .container {
  align-items: center;
  height: 80px;
  
 }


footer a {
text-decoration: underline;
  color:var(--font-color);
 padding-top: 10px; 
}
